{
  "extends": "airbnb-base",
  "env": {
    "browser": true,
    "jest": true,
    "es6": true
  },
  "rules": {
    "no-tabs": 0,
    "max-len": ["error", { "code": 200 }],
    "indent": 0,
    "quotes": 0,
    "quote-props": 0,
    "comma-dangle": 0,
    "semi": 0,
    "import/prefer-default-export": 0,
    "eol-last": 0
  },
  "parserOptions": {
    "ecmaVersion": 2017
  },
  "ecmaFeatures": {
    "arrowFunctions": true,
    "binaryLiterals": true,
    "blockBindings": true,
    "classes": true,
    "defaultParams": true,
    "destructuring": true,
    "forOf": true,
    "generators": true,
    "modules": true,
    "objectLiteralComputedProperties": true,
    "objectLiteralDuplicateProperties": true,
    "objectLiteralShorthandMethods": true,
    "objectLiteralShorthandProperties": true,
    "octalLiterals": true,
    "regexUFlag": true,
    "regexYFlag": true,
    "spread": true,
    "superInFunctions": true,
    "templateStrings": true,
    "unicodeCodePointEscapes": true,
    "globalReturn": true,
    "jsx": true
  }
}
